version: "3.9"

services:
  slim:
    build:
      context: ./noetic
      dockerfile: slim.Dockerfile
    image: ghcr.io/ca-giken/rosnoetic-slim:main
  base:
    build:
      context: ./noetic
      dockerfile: base.Dockerfile
      args:
        TARGETARCH: ${TARGETARCH}
        REGISTRY: ghcr.io
        OWNER: ca-giken
    image: ghcr.io/ca-giken/rosnoetic-base:main
    depends_on:
      - slim
  full:
    build:
      context: ./noetic
      dockerfile: full.Dockerfile
      args:
        TARGETARCH: ${TARGETARCH}
        REGISTRY: ghcr.io
        OWNER: ca-giken
    image: ghcr.io/ca-giken/rosnoetic-full:main
    depends_on:
      - base